<!DOCTYPE html>
<html ng-app="litApp">
<head>
    <title>Ad Inventory</title>
    <meta charset="utf-8">
    <link href="styles/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="styles/main.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="mainCtrl">
    <div class="container">
        <!--Navigation Menu-->

        <!--Search Bar-->
        <div class="row">
            <div class="col-sm-10" id="search-box">
                    <input ng-model="query"
                           class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2"
                           placeholder="Search a publisher ">
            </div>
        </div>
        <!--Publisher List-->
        <div class="row" ng-controller="congCtrl">
            <div class="col-sm-12">
                <h3>Publishers <small>Tap a name to select</small></h3>
            </div>
            <div class="col-sm-10 col-sm-offset-1 publishers-container
                        interior-content-center">
                <div ng-repeat="user in data.users | filter:query | orderBy:[fname, lname]"
                     ng-init="selected.language=user.orders[0].language; selected.item=user.orders[0].items[0].name"
                     class="col-xs-12 publisher-name">

                    <!--JUST DID NG-INIT ABOVE FINISH THE VIEW BELOW NOW -->
                    <!--Publisher Name-->
                    <div class="col-xs-12" ng-click="selected = !selected">
                        <strong>{{user.fname | uppercase}} {{ user.lname | uppercase}}</strong>
                    </div>
                    <!--Publisher Order // Hidden until name selected-->
                    <div class="col-xs-12 primary-text interior-content-left order-details" ng-show="selected">
                        <span class="col-xs-11 secondary-text">
                            {{language | uppercase}}
                            <span class="pull-right secondary-text"><a href="">Edit</a></span>
                        </span>
                        <div class="row">
                            <div ng-repeat="month in months"
                                 class="month col-xs-3 interior-content-center"
                                 ng-class="{received:received}"
                                 ng-click="received = !received">
                            <span class="secondary-text" ng-class="{received:received}">
                                <span>{{month}}</span>
                            </span>
                            </div>
                        </div>
                        <div class="row">
                            <button class="col-xs-4 col-xs-offset-4 btn btn-default btn-done" ng-click="selected=!selected">Done</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <script src="vendor/angular.js" type="text/javascript"></script>
    <script src="scripts/app.js" type="text/javascript"></script>
    <script src="scripts/controllers.js" type="text/javascript"></script>
    <script src="scripts/services.js" type="text/javascript"></script>
</body>
</html>