body{
    background-color:#B4B2AE;
    color: #5F5E5D;
}
#search-box {
    margin: 5%
}
.interior-content-center {
    text-align: center;
}
.interior-content-left {
    text-align: left;
}
.interior-content-right {
    text-align: right;
}
.publishers-container {
    background-color: #F2EEEA;
    border: 1px solid #B4B2AE;
    border-radius: 4px;
    padding: 1px;
}
.publisher-name {
    background-color: #F2EEEA;
    width: 100%;
    font-size: 1.35em;
    height:35px;
}
.secondaryText {
    color: #B4B2AE;
    font-size: 14px;
}
.primaryText {
    color: #5F5E5D;
    font-size: 1em;
}
.accentedText {
    font-size: 1.25em;
    color: #CE534D
}

.month, .other-items {
    height: 50px;
    margin-top: 5px;
    padding-top: 16px;
    border: 1px solid #B4B2AE;
    font-size: 14px;
}
.order-details {
    padding-bottom: 5%;
}
.finished-btn {
    margin-top: 5%;
}

.received {
    background-color: #5F5E5D;
    color: #B4B2AE;
    border-color: #B4B2AE;
}
.unAvailable {
    background-color: #B4B2AE;
    color: #5F5E5D;
    border-color: #5F5E5D;
}
.selected {
    border:3px solid #64B6B1;
}

/*
color palette:
CE534D font: accented (red)
5F5E5D font: main
F2EEEA background color
B4B2AE font: secondary (grey)
E24A37 ??: deeper red
http://www.colourlovers.com/digital-art/trends/branding/7883/Delicious_Logo
*/